.dogo-page-row{
    width: 100%;
    clear: both;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}

.col-md-12 {
    width: 100%
}
.col-md-11 {
    width: 91.66666667%
}

.col-md-10 {
    width: 83.33333333%
}

.col-md-9 {
    width: 75%
}

.col-md-8 {
    width: 66.66666667%
}

.col-md-7 {
    width: 58.33333333%
}

.col-md-6 {
    width: 50%
}

.col-md-5 {
    width: 41.66666667%
}

.col-md-4 {
    width: 33.33333333%;

}

.col-md-3 {
    width: 25%
}

.col-md-2 {
    width: 16.66666667%;
    height: 80px;
    background-color: #00a7d0;
}

.col-md-1 {
    width: 8.33333333%;
    height: 80px;
    background-color: #ccc;
}

.flex-box{
    display: flex;
    display: -webkit-flex;
}
.flex-box-r{
    flex-direction: row;
}
.flex-box-c{
    flex-direction: column;
}
.flex-md-1{
    flex: 1;
}
.flex-md-2{
    flex: 2;
}
.flex-md-3{
    flex: 3;
}
.flex-md-4{
    flex: 4;
}
.flex-md-5{
    flex: 5;
}
.flex-md-6{
    flex: 6;
}
.flex-md-7{
    flex: 7;
}
.flex-md-8{
    flex: 8;
}
.flex-md-9{
    flex: 9;
}
.flex-md-10{
    flex: 10;
}
.flex-md-11{
    flex: 11;
}
.flex-md-12{
    flex: 12;
}

/**dogo-fix-tabbar**/
.dogo-fix-tabbar{
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    height: 55px;
    background-color: #fff;
}
.dogo-fix-tabbar .icon{
    margin-top: 9px;
}
.dogo-fix-tabbar .icon img{
    width: 20px;
    height: 20px;
}
.dogo-fix-tabbar .text{
    font-size: 12px;
    line-height: 18px;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}